# -*- Git Ignore File -*-

# Ignore *.user files.
*.user

# Ignore Visual Studio cache folder.
.vs/

# Ignore build folder.
build/

# Ignore libraries.
lib/

# Ignore binary files.
*.obj
*.exp
*.pdb
*.lib
*.dll
*.exe

# Ignore log files.
*.log

# Ignore Visual Studio Code folder.
.vscode/
